.competence-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;
    padding: 25px;
    margin: auto;
    background-color: #2a2a2a;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.card-competence {
    background: #404040;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 360px;
    max-height: 360px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-competence::-webkit-scrollbar {
    display: none; 
}

.card-competence:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-competence h3 {
    color: white;
    margin-bottom: 15px;
}

.skill {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background: #2a2a2a;
    border-radius: 8px;
    transition: background 0.3s;
    overflow: hidden;
}

.skill:hover {
    background: #464646;
}

.skill-name {
    color: white;
    font-size: 14px;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 5px; 
}

.skill:hover .progress-container {
    opacity: 1;
    transform: translateY(0); 
}

.skill-level {
    font-size: 12px; 
    font-weight: normal;
    color: lightgray;
}

@media screen and (max-width: 600px) {
    .competence-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .card-competence {
        width: 100%;
    }
}
